x-airflow-common: &airflow-common
  build:
    context: ./
    dockerfile: base/airflow/Dockerfile
  image: airflow-base-local
  networks:
    - absa_network
  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ""
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "true"
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: "true"
    TZ: Asia/Ho_Chi_Minh
    AIRFLOW__CORE__DEFAULT_TIMEZONE: Asia/Ho_Chi_Minh
  volumes: &airflow-common-volumes
    - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
    - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
    - ${AIRFLOW_PROJ_DIR:-.}/config:/opt/airflow/config
    - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on: &airflow-common-depends-on
    postgres:
      condition: service_healthy

services:
  postgres:
    # THAY ĐỔI: Dùng image 'alpine' gọn nhẹ hơn
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: no
    networks:
      - absa_network
    deploy:
      resources:
        limits:
          memory: 512M

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 240s
    restart: unless-stopped
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      - absa_network
    deploy:
      resources:
        limits:
          memory: 768M
  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8974/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 240s
    restart: no
    environment:
      <<: *airflow-common-env
      AIRFLOW_PROJ_DIR: ${AIRFLOW_PROJ_DIR}
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
      - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
      - ${AIRFLOW_PROJ_DIR:-.}/config:/opt/airflow/config
      - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
      - ${AIRFLOW_PROJ_DIR:-.}/projects/absa_streaming:/opt/airflow/projects
      - ${AIRFLOW_PROJ_DIR:-.}/models:/opt/airflow/models
      - ${AIRFLOW_PROJ_DIR:-.}/checkpoints:/opt/airflow/checkpoints
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully
    networks:
      - absa_network
    deploy:
      resources:
        limits:
          memory: 768M

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        mkdir -p /sources/logs /sources/dags /sources/plugins
        chown -R "${AIRFLOW_UID}:0" /sources/{logs,dags,plugins}
        exec /entrypoint airflow version
    environment:
      <<: *airflow-common-env
      _AIRFLOW_DB_MIGRATE: "true"
      _AIRFLOW_WWW_USER_CREATE: "true"
      _AIRFLOW_WWW_USER_USERNAME: ${_AIRFLOW_WWW_USER_USERNAME:-airflow}
      _AIRFLOW_WWW_USER_PASSWORD: ${_AIRFLOW_WWW_USER_PASSWORD:-airflow}
      _PIP_ADDITIONAL_REQUIREMENTS: ""
    user: "0:0"
    networks:
      - absa_network
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}:/sources

  airflow-cli:
    <<: *airflow-common
    profiles:
      - debug
    environment:
      <<: *airflow-common-env
      CONNECTION_CHECK_MAX_COUNT: "0"
    command:
      - bash
      - -c
      - airflow
    networks:
      - absa_network

  streamlit:
    image: streamlit-image
    container_name: streamlit
    build:
      context: .
      dockerfile: base/streamlit/Dockerfile
    entrypoint:
      [
        "bash",
        "-c",
        "streamlit run /app/streamlit/projects/streamlit/streamlit_app.py --server.port 8501 --server.address 0.0.0.0",
      ]
    ports:
      - "8501:8501"
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}/projects/absa_streaming:/app/streamlit/projects/
      - ${AIRFLOW_PROJ_DIR:-.}/models:/app/streamlit/models
    depends_on:
      airflow-webserver:
        condition: service_healthy
      airflow-scheduler:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - absa_network

  zookeeper:
    image: zookeeper:3.8
    container_name: zookeeper
    ports:
      - "2181:2181"
    restart: no
    deploy:
      resources:
        limits:
          memory: 800M
    networks:
      - absa_network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xmx1024M -Xms1024M"
    depends_on:
      - zookeeper
    restart: no
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - absa_network

  spark-job-builder:
    build:
      context: ./
      dockerfile: base/spark-job/Dockerfile
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}/projects/absa_streaming:/opt/spark-jobs/projects
      - ${AIRFLOW_PROJ_DIR:-.}/models:/opt/spark-jobs/models
      - ${AIRFLOW_PROJ_DIR:-.}/checkpoints:/opt/spark-jobs/checkpoints
    image: spark-cnn-job
    networks:
      - absa_network
volumes:
  postgres-db-volume:
networks:
  absa_network:
    driver: bridge
